.section {
    margin: 5px 0;
    background: rgb(255, 255, 255);
}


.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.form__body {
    padding: 15px;
}

.task {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form__newTask {
    border-radius: 0;
    border: solid 2px #a1a1a1;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px #eee;
}

.task__decoration {
    text-decoration: line-through;
    color: #cecece;
    list-style: none;
}

.form__button {
    background: teal;
    color: white;
    border: none;
    font-size: 25px;
    height: 40px;
    border-radius: 0;
}
.form__button:hover {
    background: hsl(180, 100%, 30%);
    cursor: pointer;
}

.form__buttonDone {
    background: #8dc477;
    border-radius: 100%;
    color: white;
    border: none;
    width:35px;
    height:35px;
}

.form__buttonDone:hover {
    border: solid 1px white;
    font-weight: bold;
    cursor: pointer;
}

.form__buttonRemove:hover{
    border: solid 1px white;
    font-weight: bold;
    cursor: pointer;
}

.form__buttonRemove {
    background: rgb(230, 113, 113);
    border: none;
    border-radius: 100%;
    color: white;
    width:35px;
    height:35px;
}


@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    };

}